<div class="container content">
	<div class="row">
		<div class="col-6">
			<app-formulario-object (onEventEmitter)="agregando($event)"></app-formulario-object>
		</div>
		<div class="col-6">
			<app-objecto-detail
				*ngFor="let obj of getAll()" 
				[objeto]="obj" 
				(clicked)="elegido(obj)"></app-objecto-detail>
		</div>
	</div>
</div>