<p>reservas-listado works!</p>
<div *ngFor="let row of api.getAll()">
	{{ row.id }} - {{ row.name }}
</div>
<a [routerLink]="['./',10]">Ir a detalle</a> | 
<a [routerLink]="['/login']">Ir a login</a>
