	<div class="card-content" [@esFavorito]="stateAnimation()" style="margin-top:10px;">
		<div class="card-img">
			<img src="https://placeimg.com/300/230/nature" alt=""/>
			<span>{{position}}</span>
		</div>
		<div class="card-desc">
			<h1>{{ destino.nombre }}</h1>
			<p>Servicios</p>
			<ul>
					<li *ngFor="let servicio of destino.servicios">
						<span [ngSwitch]="servicio">
							<i *ngSwitchCase="'Desayuno'" style="color:red;">{{servicio}}</i>
							<span *ngSwitchDefault>{{servicio}}</span>
						</span>
					</li>
			</ul>
			<div>
				<a hred="#" (click)="voteUp()" appTrackearClick data-tracker-tags="destino_vote_up lista_destinos_item"><i class="material-icons md-18">thumb_up</i></a>
				<a hred="#" (click)="voteDown()" appTrackearClick data-tracker-tags="destino_vote_down lista_destinos_item"><i class="material-icons md-18">thumb_down</i></a>
				{{destino.votes}}
			</div>
			<a href="#" class="btn-card" (click)="ir()" appTrackearClick data-tracker-tags="destino_ir lista_destinos_item">Ir!</a>
			<span *ngIf="destino.isSelected()">
				<span ngNonBindable>
				{{PREFERIDO}}
				</span>
			</span>
			<a [routerLink]="['/destino',position]">Ver Detalle</a>
		</div>
	</div>
