<div class="content container">
	<ul>
		<li>Semana 1 desarrollada <b>Julio 20 de 2020</b></li>
		<li>Semana 2 desarrollada <b>Julio 25 de 2020</b></li>
			<li>Semana 3 desarrollada <b>Agosto 3 de 2020</b>
			</li>
			<li>Semana 4 desarrollada <b>Agosto 09 de 2020</b>
<br/>

	<ul>
		<li> Animations - Sobre click en marker</li>
		<li> Directiva Tags - se muestran en la parte inferior, estan en campo nombre, boton de agregar y click sobre marcador. </li>
		<li> map y Marker - queda con el registro creado al agregar en el formulario </li>
		<li> Jasmin test  </li>
		<li> circleci </li>
		<li> Service </li>
	</ul>

		</li>
	</ul>
</div>
