
<p>destino-detalle works!</p>

<div *ngIf="destino != undefined">
{{ destino.id }}<br/>
{{ destino.nombre }}
</div>
<hr>
<!--"style"-->
<mgl-map
	[style]="'mapbox://styles/mapbox/streets-v9'"
	[zoom]="[9]"
	style="height: 50vh; width: 100vw;"
	[center]="[-75.567, 6.217]"
	(load)="map = $event"
	>
	<mgl-marker
		[lngLat]="[-75.567, 6.217]">
		<div onclick="alert('Hola')"
		class="marker">
			Mark
		</div>
	</mgl-marker>
</mgl-map>