<header>
	<h4>Project Angular 6</h4>
	<div class="row" style="position:relative;float:right;margin-top:-30px;margin-right:10px;">
		<app-login ></app-login>
		<select (change)="translate.use($event.target.value)">
				<option value="es">Español</option>
				<option value="en">English</option>
				<option value="fr">France</option>
		</select>
	</div>
</header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
	<div class="navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/home']">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/form']">Form</a>
			</li>
			<li class="nav-item" *ngIf="isAuth()">
				<a class="nav-link" [routerLink]="['/protected']">Protected</a>
			</li>
		</ul>
	</div>	
</nav>
<section>
<div class="container content">
  <div class="row">
      
      <hr class="mb-5" />
  </div>
  <router-outlet></router-outlet>
  <div class="tags">
  	<div>{{'count_rows' | translate}}: <b>{{tags.length}}</b></div>
  	<div *ngFor="let tag of getTags()">{{ tag.tag }}:{{ tag.count }}</div>

  </div>
</div>
</section>