<form [formGroup]="formGroup1" (ngSubmit)="guardar(formGroup1.controls['nombre'].value,formGroup1.controls['url'].value)">
	<div class="form-group">
		<label for="nombre" [innerHTML]="'name' | translate"></label>
		<input type="text" id="nombre" class="form-control" placeholder="Ingresar nombre..." [formControl]="formGroup1.controls['nombre']"/>
		<ul>
				<li *ngFor="let r of searchResult">{{r}}</li>
		</ul>
		<div class="form-invalid" *ngIf="formGroup1.controls['nombre'].hasError('invalidName')">Nombre invalido!</div>
		<div class="form-invalid" *ngIf="formGroup1.controls['nombre'].hasError('minLengthName')">El campo nombre debe tener al menos {{minLength}} de largo</div>
		<div class="form-invalid" *ngIf="formGroup1.controls['nombre'].hasError('required')">Nombre requerido!</div>
	</div>
	<div class="form-goup">
		<label for="imagenUrl">Imagen Url</label>
		<input type="text" id="imagenUrl" class="form-control" placeholder="Ingresar Url..." [formControl]="formGroup1.controls['url']"/>
		<div class="form-invalid" *ngIf="formGroup1.controls['url'].hasError('required')">URL Requerido!</div>
		<div class="form-invalid" *ngIf="formGroup1.controls['url'].hasError('urlValid')">URL Invalida!</div>
	</div>
	<button class="btn btn-primary" type="submit" *ngIf="formGroup1.valid">Guardar</button>
</form>
