/* You can add global styles to this file, and also import other style files */
$principalColor: #10a619AA;
header{
	background-color: $principalColor;
	padding: 10px 10px 10px 10px;
	color:white;
}

footer{
	background-color: $principalColor;
	padding: 10px 10px 10px 10px;
	font-size: 12px;
	color:white;
	margin-top: 10px;
}
footer>div>.row>div>ul>li>a{
	color:white;
}