<div class="container content">
	<div class="row">
		<div *ngIf="!isLogin()" >
			<button class="login" data-toggle="modal" data-target="#login" (click)="showModal()" translate>enter</button>
		</div>
		<div *ngIf="isLogin()">
			<b>{{ userName() }}</b>
			<button (click)="logout()" translate>logout</button>
		</div>
	</div>
</div>
	<div style="position:absolute;z-index: 2;" id="login" tabindex="-1" role="dialog" *ngIf="isShowModal()">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form [formGroup]="formGroup" (ngSubmit)="login(formGroup.controls['username'].value,formGroup.controls['password'].value)">
				<div class="modal-header">
					<b translate>login</b>
					<button type="button" class="close" data-dismiss="modal" (click)="closeModal()"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<div class="form-row">
						
						<div class="form-group">
							<label for="username" translate>user_name</label>
							<input type="text" name="username" class="form-control" placeholder="{{ 'input_user_name'  | translate }}" [formControl]="formGroup.controls['username']"/>
							<div class="form-invalid" *ngIf="formGroup.controls['username'].hasError('valid')" translate>value_invalid
							</div>
						</div>
						<div class="form-group">
							<label for="password" translate>password</label>
							<input type="password" name="password"  class="form-control" placeholder="{{ 'input_password' | translate }}" [formControl]="formGroup.controls['password']"/>
							<div class="form-invalid" *ngIf="formGroup.controls['password'].hasError('valid')" translate>value_invalid</div>
						</div>
						
						
					</div>
				</div>
				<div class="modal-footer">
							<button type="submit" class="btn btn-primary" *ngIf="formGroup.valid" translate>login</button>
						</div>
				</form>
			</div>
		</div>
	</div>
<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="node_modules/popper/dist/popper.min.js"></script>
<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript">
	$(function(){
		$("[data-toggle='popover']").popover();
		$("#login").on("show.bs.modal",function (event){
			console.log("mostrando")
			$(".login").prop("disable",true);
		})
		$("#login").on("hidden.bs.modal",function (event){
			console.log("ocultando")
			$(".login").prop("disable",false);
		})
	});
</script>