<div class="container content">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<span class="anchor" id="formLogin"></span>
			<div class="card card-outline-secondary">
				<div class="card-header">
					<h1>Whishlist</h1>
				</div>
				<div class="card-body">
					<app-form-destino-viaje (onItemAdded)="agregado($event)"></app-form-destino-viaje>
				</div>
			</div>
		</div>
	</div>
	<hr class="mb-5" />
	<div class="row row-flex">
		<app-destino-viaje 
			*ngFor="let destino of getLista(); let i = index" 
			[destino]="destino" 
			[idx]="destino.getId()"
			(clicked)="elegido(destino)"
			appEspiame></app-destino-viaje>
	</div>
	<div class="row row-flex actividad-log" *ngIf="this.getUpdates().length > 0">
		<h5>Actividad</h5>
		<ul>
			<li *ngFor="let u of getUpdates();">{{u}}</li>
		</ul>
	</div>
</div>