<div class="container content">
	<div class="row">
		<div class="card">
		<div class="card-header">{{ title }}</div>
		<div class="card-body">
		<form [formGroup]="formGroup" 
			  (ngSubmit)="agregar(formGroup.controls['nombre'].value,formGroup.controls['descripcion'].value)">
			<div class="form-group">
				<label for="nombre">Nombre</label>
				<input type="text" name="nombre" id="nombre" class="form-control" placeholder="Ingrese nombre..." 
					   [formControl]="formGroup.controls['nombre']" appEspiame data-tracker-tags="form input-nombre"/>
				<div class="form-invalid" *ngIf="formGroup.controls['nombre'].hasError('required')">El nombre es requerida</div>
				<div class="form-invalid" *ngIf="formGroup.controls['nombre'].hasError('valida')">El nombre no es valida</div>
			</div>
			<div class="form-group">
				<label for="descripcion">Description</label>
				<textarea rows="3" class="form-control" name="descripcion" id="descripcion" placeholder="Ingrese una descripción..." 
						  [formControl]="formGroup.controls['descripcion']"></textarea>
				<div class="form-invalid" *ngIf="formGroup.controls['descripcion'].hasError('required')">La descripción es requerida</div>
				<div class="form-invalid" *ngIf="formGroup.controls['descripcion'].hasError('valida')">La descripción no es valida</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary" *ngIf="formGroup.valid" appEspiame data-tracker-tags="form add">Agregar</button>
			</div>
		</form>
	</div>
</div>
	</div>
</div>
