<li>
	<div class="card">
		<div class="card-header">
			{{ objeto.nombre }}
		</div>
		<div class="card-body">
			<div>
				{{ objeto.descripcion }}
			</div>
			<div>
				<mgl-map [style]="style" [zoom]="[9]"
				[center]="[-75.867, 5.717]" (load)="map = $event"
				style="height: 50vh; width: 35vw;">
					<mgl-marker [lngLat]="[-75.567, 6.217]">
						<div (click)="show()" class="marker" appEspiame data-tracker-tags="detail marker">
							<i class="material-icons md-18 place">place</i>
						</div>
					</mgl-marker>
				</mgl-map>
			</div>
		</div>
		<div class="card-footer">
			<div>
				<a hred="#" (click)="voteLike()">
					<i class="material-icons md-18">thumb_up</i>
					<sup><b>{{ objeto.getLike() }}</b></sup>
				</a>
		    	<a hred="#" (click)="voteULike()">
		    		<i class="material-icons md-18">thumb_down</i>
		    		<sup><b>{{ objeto.getULike() }}</b></sup>
		    	</a>
			</div>
		</div>
	</div>
	<div class="card popup" [@openMarker]="stateAnimation()">
		<div class="card-header"><b>{{ 'marker' | translate }}</b><p (click)="hidden()">x</p></div>
		<div class="card-body">
			Marcador seleccionado
		</div>
	</div>
</li>
