$colorRed: #a7000080;
li>.card>.card-body>div>a{
	cursor: default;
}
li>.card>.card-body>div>a>sup{
	color: white;
	background-color: red;
	padding: 2px 2px 2px 2px;
	border-radius: 10px;
}
.place{
	color: $colorRed;
}
.material-icons{
	cursor: pointer;
}
.popup{
	position: absolute;
	top: 10px;
	box-shadow: 1px 5px 28px black;
}
.popup>div>p{
	float: right;
	background-color: $colorRed;
	margin-top: -10px;
	margin-right: -18px;
	border-radius: 10px;
	padding:2px 8px 2px 8px;
	color: white;
	cursor: pointer;

}
